/* for the input decoration */

.form-control:focus {
  border-color: white;
  box-shadow: inset 0 1px 1px rgba(253, 164, 164, 0.075), 0 0 8px white;
  outline: none !important;
}
.form-control.my:focus {
  border-color: white;
  box-shadow: inset 0 1px 1px rgba(253, 164, 164, 0.075),
    0 0 8px rgb(128, 128, 128);
  outline: none !important;
}
